@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamHTF-Book.woff2") format("woff2"),
    url("../fonts/GothamHTF-Book.woff") format("woff"),
    url("../fonts/GothamHTF-Book.svg#GothamHTF-Book") format("svg");
  font-weight: 500;
  font-style: normal;
}
