.button {
  background-color      : $white;
  border                : none;
  padding               : 1rem;
  cursor                : pointer;
  // border-radius      : 4px;
  font-weight           : 900;
  transition            : all 0.3s;
  // color              : $text-primary;
  min-width             : 1rem;
  text-transform        : uppercase;

  @include bp(md) {
    padding: 1.4rem;
  }

  &:focus,
  &:hover {
    outline   : none;
    // color  : $text-primary;
  }

  &-primary {
    background-color: $theme-primary;
    color           : $white;

    &:hover {
      background-color: $theme-primary;
    }
  }

  &-outline-black {
    background-color: transparent;
    border          : 2px solid $white;

    color: $white;
  }

  &-transparent {
    background-color: transparent;
    color           : $white;
  }
}

.button-block {
  display: block;
  width  : 100%;
}

.button-small {
  padding  : 0.8rem 1.5rem;
  font-size: 10px;
}

.button.black {
  background-color: transparent;
  border          : none;
}