@import "../../styles/0-base/variables.scss";
@import "../../styles/0-base/mixins.scss";

.pdp-back-btn {

    @include bp(mobile) {
        display: none;
    }

    display      : block;
    margin-bottom: 1rem;
}

.pdp-left-info {
    @include bp(mobile) {
        padding: 0 1rem;
    }
}