.product-image {
  height: 378px;
}

.product-item {
  text-decoration: none;
  color: #000;
}

.product-thumbnail {
  position: relative;
}

.product-tag {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
