@import "../../styles/0-base/variables.scss";
@import "../../styles/0-base/mixins.scss";

.primary-header {
  // border-bottom   : 1px solid $header-border;
  box-shadow         : 0px 1px 4px 0 rgba(0, 0, 0, 0.08);
  position           : fixed;
  left               : 0;
  top                : 0;
  width              : 100%;
  z-index            : 100;
  background-color   : $header-bg;
  transition         : top 0.3s;
}

.header-top {
  background: #000;
  text-align: center;
  padding   : 5px;

  &-text {
    font-size     : 12px;
    line-height   : 22px;
    text-transform: uppercase;
    text-align    : center;
    color         : #fff;
    font-weight   : 300;
  }
}

.header-nav {
  display        : flex;
  justify-content: space-between;
  padding        : 12px 0;
  align-items    : center;
}

/* Logo */
.header-logo {
  &__img {
    width : 60px;
    height: auto;

    @include bp(md) {
      width: 75px;
    }
  }
}

.nav-menu {
  list-style : none;
  margin     : 0;
  padding    : 0;
  align-items: center;
  display    : flex;
}

.nav-item:not(:last-child) {
  margin-right: 2rem;
}

.nav-item.nav-icon-item {
  margin-right: 1rem;
}

.nav-item:not(.show-mobile) {
  @include bp(mobile) {
    display: none;
  }
}

/* NavLink */

.nav-link {
  color         : $nav-link;
  display       : block;
  padding       : 0.4rem 0;
  text-transform: uppercase;
  font-size     : 12px;
  position      : relative;

  @include bp(mobile) {
    font-size: 16px;
  }

  &.active {
    font-weight: 900;
    color      : $text-primary;

    &.primary {
      color: $theme-primary;
    }
  }

  &:hover {
    transition     : all 0.3s;
    text-decoration: none;
    color          : $theme-primary;
  }
}

.nav-right {
  display    : flex;
  align-items: center;
}

/* Menu-toggler */
.nav-toggler {
  display    : inline-block;
  cursor     : pointer;
  margin-left: 1rem;

  @include bp(md) {
    display: none;
  }

  .bar {
    position        : relative;
    width           : 18px;
    height          : 2px;
    background-color: $menu-toggler-color;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.cart-added-count {
  position        : absolute;
  width           : 1rem;
  height          : 1rem;
  border-radius   : 50%;
  background-color: $theme-primary;
  display         : inline-flex;
  align-items     : center;
  justify-content : center;
  font-size       : 10px;
  color           : $white;
  top             : 0;
  right           : -0.75rem;

}