@import "../../styles/0-base/variables.scss";
@import "../../styles/0-base/mixins.scss";

.recommended-section {
    margin-top      : 2rem;
    background-color: $bg-gray;
}

.product-item {
    display: block;
}

.loader {
    width          : 100%;
    display        : flex;
    justify-content: center;

    img {
        width: 50px;
    }
}