@import "../../styles/0-base/variables.scss";
@import "../../styles/0-base/mixins.scss";

.tabs {
  border: 1px solid $border;
}

.tab-body {
  // margin: -2rem;
  padding  : 1rem;
}

.tab-nav {
  background-color: $tab-bg;
}

.tab-nav ul {
  list-style-type: none;
  display        : flex;
  width          : 100%;
  padding        : 0;
  margin         : 0;
}

.tab-nav ul li {
  display: inline-flex;
  flex   : 1;
}

.tab-nav ul li a {
  display         : flex;
  justify-content : center;
  width           : 100%;
  padding         : 0.6rem;
  text-decoration : none;
  text-transform  : uppercase;
  border          : 1px solid $border;
  border-top-color: $white;
  font-weight     : 700;
  color           : $text-primary;

  @include bp(md) {
    padding: 1rem;

  }

  &.active {
    background-color: $white;
    border-color    : $white;
    color           : $theme-primary;
  }
}

.tab-panes {
  .active {
    display: block;
  }

  .inactive {
    display: none;
  }
}